<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdclass.provide.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.xdclass.provide.pojo.Student">
    <id column="stid" jdbcType="VARCHAR" property="stid" />
    <result column="stname" jdbcType="VARCHAR" property="stname" />
    <result column="stbirthday" jdbcType="DATE" property="stbirthday" />
    <result column="stsex" jdbcType="INTEGER" property="stsex" />
    <result column="clid" jdbcType="VARCHAR" property="clid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stid, stname, stbirthday, stsex, clid
  </sql>
  <select id="selectByExample" parameterType="com.xdclass.provide.pojo.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where stid = #{stid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from student
    where stid = #{stid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xdclass.provide.pojo.StudentExample">
    delete from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xdclass.provide.pojo.Student">
    insert into student (stid, stname, stbirthday, 
      stsex, clid)
    values (#{stid,jdbcType=VARCHAR}, #{stname,jdbcType=VARCHAR}, #{stbirthday,jdbcType=DATE}, 
      #{stsex,jdbcType=INTEGER}, #{clid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdclass.provide.pojo.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stid != null">
        stid,
      </if>
      <if test="stname != null">
        stname,
      </if>
      <if test="stbirthday != null">
        stbirthday,
      </if>
      <if test="stsex != null">
        stsex,
      </if>
      <if test="clid != null">
        clid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stid != null">
        #{stid,jdbcType=VARCHAR},
      </if>
      <if test="stname != null">
        #{stname,jdbcType=VARCHAR},
      </if>
      <if test="stbirthday != null">
        #{stbirthday,jdbcType=DATE},
      </if>
      <if test="stsex != null">
        #{stsex,jdbcType=INTEGER},
      </if>
      <if test="clid != null">
        #{clid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xdclass.provide.pojo.StudentExample" resultType="java.lang.Long">
    select count(*) from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update student
    <set>
      <if test="record.stid != null">
        stid = #{record.stid,jdbcType=VARCHAR},
      </if>
      <if test="record.stname != null">
        stname = #{record.stname,jdbcType=VARCHAR},
      </if>
      <if test="record.stbirthday != null">
        stbirthday = #{record.stbirthday,jdbcType=DATE},
      </if>
      <if test="record.stsex != null">
        stsex = #{record.stsex,jdbcType=INTEGER},
      </if>
      <if test="record.clid != null">
        clid = #{record.clid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update student
    set stid = #{record.stid,jdbcType=VARCHAR},
      stname = #{record.stname,jdbcType=VARCHAR},
      stbirthday = #{record.stbirthday,jdbcType=DATE},
      stsex = #{record.stsex,jdbcType=INTEGER},
      clid = #{record.clid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdclass.provide.pojo.Student">
    update student
    <set>
      <if test="stname != null">
        stname = #{stname,jdbcType=VARCHAR},
      </if>
      <if test="stbirthday != null">
        stbirthday = #{stbirthday,jdbcType=DATE},
      </if>
      <if test="stsex != null">
        stsex = #{stsex,jdbcType=INTEGER},
      </if>
      <if test="clid != null">
        clid = #{clid,jdbcType=VARCHAR},
      </if>
    </set>
    where stid = #{stid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdclass.provide.pojo.Student">
    update student
    set stname = #{stname,jdbcType=VARCHAR},
      stbirthday = #{stbirthday,jdbcType=DATE},
      stsex = #{stsex,jdbcType=INTEGER},
      clid = #{clid,jdbcType=VARCHAR}
    where stid = #{stid,jdbcType=VARCHAR}
  </update>
</mapper>